@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight&display=swap');
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap');



/***************************************************
# Geral
****************************************************/

body, nav {
  font-family: "Open Sans", sans-serif;
}

.title{
  font-family: 'Zilla Slab Highlight', cursive;
}

.text{
  font-family: 'Zilla Slab', serif;
}


/***************************************************
# Discos
****************************************************/

.feature-center {
  padding-left: 20px;
  padding-right: 20px;
  float: left;
  width: 100%;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .feature-center {
    margin-bottom: 50px;
  }
}
.feature-center .desc {
  padding-left: 180px;
}
.feature-center .icon {
  width: 90px;
  height: 90px;
  background: #d1c286;
  display: table;
  text-align: center;
  margin: 0 auto 30px auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.feature-center .icon i {
  display: table-cell;
  vertical-align: middle;
  height: 90px;
  font-size: 40px;
  line-height: 40px;
  color: #fff;
}
.feature-center p, .feature-center h3 {
  margin-bottom: 30px;
}
.feature-center h3 {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 600;
}

.product {
  margin-bottom: 40px;
}
.product .product-grid {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  height: 350px;
  margin-bottom: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.product .product-grid .sale {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  z-index: 100;
  background: #d1c286;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.product .product-grid .inner {
  display: table;
  height: 350px;
  width: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  .product .product-grid .inner {
    opacity: 1;
    background: transparent;
  }
}
.product .product-grid .inner p {
  display: table-cell;
  vertical-align: middle;
}
.product .product-grid .inner p .icon {
  padding: 7px 10px;
  color: #fff;
  background: #000000;
}
.product .product-grid .inner p .icon:hover, .product .product-grid .inner p .icon:focus {
  color: #000000;
  background: #fff;
}
.product .desc h3 {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: bold;
  line-height: 24px;
}
.product .desc h3 a {
  color: #000;
}
.product .desc .price {
  letter-spacing: 2px;
  text-transform: uppercase;
}
.product:hover .product-grid, .product:focus .product-grid {
  -webkit-box-shadow: 0px 10px 24px -7px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 10px 24px -7px rgba(0, 0, 0, 0.35);
  -ms-box-shadow: 0px 10px 24px -7px rgba(0, 0, 0, 0.35);
  -o-box-shadow: 0px 10px 24px -7px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 10px 24px -7px rgba(0, 0, 0, 0.35);
}
.product:hover .inner, .product:focus .inner {
  opacity: 1;
}
.product:hover .desc h3 a, .product:focus .desc h3 a {
  color: #2a2a2a;
  text-decoration: none;
}

.product-carousel {
  margin-bottom: 7em;
}


/***************************************************
# Bootstrap Colors
****************************************************/

$color1: #F6C9BD;
$color2: #ef8b70;
$color3: #009970;
$color4: #232222;
$color5: #462200;

$theme-colors: ('color1': $color1,
  'color2': $color2,
  'color3': $color3,
  'color4': $color4,
  'color5': $color5,
);


$enable-responsive-font-sizes: true !important;
$enable-rounded: false;

@import "../../node_modules/bootstrap/scss/bootstrap";